<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/svg+xml" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 width=%22256%22 height=%22256%22 viewBox=%220 0 100 100%22><rect width=%22100%22 height=%22100%22 rx=%2220%22 fill=%22%23000000%22></rect><path d=%22M9.46 72.40L9.46 27.60L20.08 27.60Q25.52 27.60 28.02 30.13Q30.51 32.66 30.51 37.90L30.51 37.90L30.51 39.70Q30.51 43.15 29.39 45.33Q28.27 47.50 25.97 48.46L25.97 48.46L25.97 48.59Q31.22 50.38 31.22 57.94L31.22 57.94L31.22 61.78Q31.22 66.96 28.50 69.68Q25.78 72.40 20.53 72.40L20.53 72.40L9.46 72.40ZM16.50 45.84L19.25 45.84Q21.36 45.84 22.42 44.75Q23.47 43.66 23.47 41.10L23.47 41.10L23.47 38.61Q23.47 36.18 22.61 35.09Q21.74 34.00 19.89 34.00L19.89 34.00L16.50 34.00L16.50 45.84ZM16.50 66L20.53 66Q22.38 66 23.28 65.01Q24.18 64.02 24.18 61.58L24.18 61.58L24.18 57.68Q24.18 54.61 23.12 53.42Q22.06 52.24 19.63 52.24L19.63 52.24L16.50 52.24L16.50 66ZM33.90 72.40L33.90 66.13L46.96 34.00L34.54 34.00L34.54 27.60L54.51 27.60L54.51 33.87L41.46 66L54.51 66L54.51 72.40L33.90 72.40ZM61.36 72.40L56.82 27.60L63.60 27.60L66.74 62.03L66.86 62.03L70.19 27.60L77.87 27.60L81.20 62.03L81.33 62.03L84.46 27.60L90.54 27.60L86 72.40L77.23 72.40L74.03 42.19L73.90 42.19L70.70 72.40L61.36 72.40Z%22 fill=%22%23fff%22></path></svg>">
  <title>Web BZW</title>
  <style><%- css %></style>
</head>
<body>
  <header>
    <span>Web BZW <span class="beta">Beta</span></span>
    <nav>
      <div class="parent">
        <span>File</span>
        <div class="menu">
          <span onclick="bzwFile.click()">
            Open
            <span class="shortcut">Ctrl+O</span>
          </span>
          <span onclick="saveMap()">
            Save
            <span class="shortcut">Ctrl+S</span>
          </span>
        </div>
      </div>
      <div class="parent">
        <span>Edit</span>
        <div class="menu">
          <span onclick="toggleComment()">
            Toggle Commnt
            <span class="shortcut">Ctrl+/</span>
          </span>
        </div>
      </div>
      <div class="parent">
        <span>View</span>
        <div class="menu">
          <span onclick="settings.autoRotate.click()">
            <input type="checkbox" id="auto-rotate" onclick="event.stopPropagation()">
            Auto Rotate
          </span>
          <span onclick="settings.showAxis.click()">
            <input type="checkbox" id="show-axis" onclick="event.stopPropagation()">
            Show Axis
          </span>
          <span onclick="settings.syntaxHighlighting.click()">
            <input type="checkbox" id="syntax-highlighting" onclick="event.stopPropagation()">
            Syntax Highlighting
          </span>
          <span class="parent">
            Color Theme
            <span class="shortcut">&gt;</span>
            <div class="menu submenu" onclick="setColorTheme(event)">
              <span>Default</span>
              <span>High Contrast</span>
              <span>One Dark Pro</span>
              <span>One Half Light</span>
              <span>Palenight</span>
              <span>One Monokai</span>
            </div>
          </span>
        </div>
      </div>
      <div class="parent">
        <span>Help</span>
        <div class="menu">
          <span><a href="https://github.com/BZFlagCommunity/webbzw/issues/new?labels=bug" target="_blank" rel="noopener noreferrer">Report a Bug</a></span>
          <span><a href="https://github.com/BZFlagCommunity/webbzw/releases/<%= version %>" target="_blank" rel="noopener noreferrer"><%= version %></a></span>
        </div>
      </div>
    </nav>
    <input type="file" id="bzw-file" accept=".bzw">
  </header>
  <main>
    <pre class="line-numbers"></pre>
    <div class="editor">
      <textarea spellcheck="false"></textarea>
      <pre class="highlight">
        <span class="comment"># loading...</span>
      </pre>
    </div>
    <div class="resizer"></div>
    <canvas></canvas>
  </main>
  <footer>
    <span id="objects"></span>
    <span id="vertices"></span>
    <span style="flex:1"></span>
    <span><a href="https://github.com/BZFlagCommunity/webbzw" target="_blank" rel="noopener noreferrer">GitHub</a></span>
    <span>Copyright &copy; 2021 <a href="https://thenoah.dev" target="_blank" rel="noopener noreferrer">The Noah</a></span>
  </footer>
  <script><%- js %></script>
</body>
</html>
