@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600,900&display=swap");

*{
  color: var(--text-color);
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

:root{
  font-size: 18px;

  --shadow-color: rgba(0, 0, 0, .05);
  --shadow-height: .2rem;
  --shadow-spread: .5rem;
  --scrollbar-size: .5rem;
  --border-radius: .25rem;

  /* color theme */
  --background-color: #17171C;
  --border-color: #27272F;
  --text-color: #FFF;
  --text-light-color: #BBB;
  --selection-color: rgba(255, 255, 255, .2);
}

:root[data-theme=high-contrast]{
  --background-color: #000;
  --border-color: #777;
  --text-light-color: #FFF;
  --selection-color: rgba(255, 255, 255, .3);
}

:root[data-theme=one-dark-pro]{
  --background-color: #282C34;
  --border-color: #454C5A;
}

:root[data-theme=one-half-light]{
  --background-color: #FFF;
  --border-color: #EEE;
  --text-color: #000;
  --text-light-color: #444;
  --selection-color: rgba(0, 0, 0, .2);
}

:root[data-theme=palenight]{
  --background-color: #292D3E;
  --border-color: #424864;
  --selection-color: #7580B850;
}

:root[data-theme=one-monokai]{
  --background-color: #282C34;
  --border-color: #454C5A;
}

body{
  height: 100vh;
  margin: 0;
  background-color: var(--background-color);
  font-family: Montserrat, sans-serif;
  display: flex;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.welcome{
  text-align: center;
  flex: 1;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.welcome h1{
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
}

.welcome a{
  margin-top: 2rem;
  padding: 1rem 2rem;
  background-color: #0FA;
  color: #FFF;
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
  align-self: center;
  border-radius: var(--border-radius);
  box-shadow: 0 0 1rem #0FAA;
}

h1{
  margin: 0;
  line-height: 1em;
}

input[type=file]{
  display: none;
}

input[type=checkbox]{
  cursor: pointer;
}

header{
  padding: 0 .5rem;
  background-color: var(--border-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 2px solid #000;
  z-index: 9;
}

header > svg{
  margin-right: 1rem;
  fill: var(--text-color);
  cursor: pointer;
}

nav{
  display: flex;
}

nav input[type=checkbox]{
  margin-right: .5rem;
}

nav a{
  text-decoration: none;
  flex: 1;
}

nav > div{
  font-size: .9rem;
  user-select: none;
}

nav > div:hover, nav .menu > span:hover{
  background-color: var(--selection-color);
}

nav > .parent > span{
  padding: .2rem .5rem;
  display: block;
}

nav .parent{
  position: relative;
}

nav .parent:hover > .menu{
  display: flex;
}

nav .menu{
  width: 15rem;
  padding: .2rem 0;
  background-color: var(--background-color);
  position: absolute;
  display: none;
  flex-direction: column;
  border: 1px solid var(--border-color);
  box-shadow: 0 var(--shadow-height) var(--shadow-spread) var(--shadow-color);
  cursor: default;
  z-index: 9;
}

nav .menu.submenu{
  margin-top: -1px;
  margin-left: -2px;
  top: -.2rem;
  left: 15rem;
}

nav > .menu:not(.submenu){
  border-top: none;
}

nav .menu > span{
  padding: .3rem .5rem;
  font-size: .85rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

nav .shortcut{
  padding-left: 1rem;
  font-size: .8em;
  font-family: "Source Code Pro", monospace;
  text-align: right;
  flex: 1;
  opacity: .75;
}

footer{
  padding: .25rem .5rem;
  background-color: var(--border-color);
  font-size: .7rem;
  display: flex;
  border-top: 2px solid #000;
  box-shadow: 0 calc(var(--shadow-height) * -1) var(--shadow-spread) var(--shadow-color);
  z-index: 1;
}

footer > span:not(:last-child){
  margin-right: 1rem;
}

main{
  min-height: 0;
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto;
}

pre{
  margin: 0;
}

select{
  padding: .2rem;
  background-color: var(--background-color);
  font-family: Montserrat, sans-serif;
  font-size: .8rem;
  font-weight: 500;
  border: none;
  border-radius: var(--border-radius);
  outline: none;
  cursor: pointer;
}

.panel{
  padding: .2rem .5rem;
  display: flex;
  flex-direction: column;
  border: 2px solid #000;
  overflow: auto;
}

.panel__header{
  margin-bottom: .5rem;
  font-size: .9rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  cursor: grab;
}

.panel__header > svg{
  margin-left: .75rem;
  stroke: var(--text-color);
}

.panel__content{
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
}

.btn{
  padding: .2rem .5rem;
  background: none;
  font-size: .8rem;
  font-family: "Source Code Pro", monospace;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  outline: none;
  cursor: pointer;
}

.btn:hover{
  background-color: var(--border-color);
}

#objects{
  grid-column: 1;
  grid-row: 1;
}

#objects > .panel__content{
  font-size: .8rem;
  font-family: "Source Code Pro", monospace;
  line-height: 1em;
  user-select: none;
}

#objects > .panel__content > div{
  padding: .1rem;
  color: var(--text-light-color);
  cursor: pointer;
}

#objects > .panel__content > div.selected,
#objects > .panel__content > div:hover{
  color: var(--text-color);
}

#properties{
  grid-column: 1;
  grid-row: 2;
}

#properties > .panel__content > div{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#properties > .panel__content > div:not(:last-child){
  margin-bottom: .5rem;
}

#properties > .panel__content > div > *:not(input[type=checkbox]){
  flex: 1;
}

#properties > .panel__content > div > *:not(:last-child){
  margin-right: .2rem;
}

#properties > .panel__content input{
  padding: .2rem .5rem;
  background: none;
  font-family: "Source Code Pro", monospace;
  font-size: .8rem;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  outline: none;
}

#properties > .panel__content input:not([type=checkbox]){
  width: 100%;
}

#preview{
  grid-column: 2;
  grid-row: 1 / 3;
}

#preview canvas{
  min-height: 100px;
  flex: 1;
}
